<header>
  <h1>Test assignment for Qminder frontend developer position</h1>

  <h2>Source code</h2>

  <p>Links to source code are available under top right submenu</p>

  <h2>About execution</h2>

  <p>Burgers are ready under <a routerLink="/burger-venues">Burger venues</a> selection</p>

  <p>Responsive design is divided by two, mobile and desktop layout</p>

  <p>On map, venues in 1km radius from bus station are filtered out. Did it on frontend
  as this is frontend task</p>

  <p>Under map, all corresponding images for venues are shown as there was no requirement to filer
  any out and so I left the pictures.</p>

  <p>For google maps I used <i>@angular/google-maps</i> as it's official and agm doesn't support
  yet angular 11 officially</p>



</header>
