.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 200px;
}

.sidenav .mat-toolbar {
  background: inherit;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}

.fill-space {
  flex: 1 1 auto;
}

i {
  font-style: normal;
  font-size: 1.25em;
  margin-right: 16px;
}

.shell-content {
  color: white;
  width: 87.5%;
  padding-top: 32px;
  margin: auto;
}

.shell-background {
  background-image: linear-gradient(to bottom left, #555ee0, #d2557d);
  min-height: 100%;
}

.shell-background-mobile {
  background-image: linear-gradient(#555ee0, #d2557d);
  min-height: 100%;
}

