<ng-content></ng-content>
<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport
               [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
               [mode]="(isHandset$ | async) ? 'over' : 'side'"
               [opened]="false">
    <mat-toolbar>Menu</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item routerLink="/" (click)="drawer.close()">Assignment info</a>
      <a mat-list-item routerLink="/burger-venues" (click)="drawer.close()">Burger venues</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar>
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>

      <span class="fill-space"></span>
      <div *ngIf="!(isHandset$ | async)">
        <a mat-button routerLink="/">Assignment info</a>
        <a mat-button routerLink="/burger-venues">Burger venues</a>
      </div>

      <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="External links">
        <mat-icon>more_vert</mat-icon>
      </button>

      <mat-menu #menu="matMenu">
        <a mat-menu-item href="https://bitbucket.org/eljacko/burger-frontend-angular/">
          <span>Frontend source code</span>
        </a>
        <a mat-menu-item href="https://bitbucket.org/eljacko/burger-backend/">
          <span>Backend source code</span>
        </a>
      </mat-menu>
    </mat-toolbar>

    <div [ngClass]="(isHandset$ | async) ? 'shell-background-mobile' : 'shell-background'">
      <div class="shell-content">
        <ng-content></ng-content>
      </div>
    </div>

  </mat-sidenav-content>
</mat-sidenav-container>
