<div>
  <div class="page-heading">
    <div class="row">
      <h2>Venues</h2>
      <p *ngIf="loading">Gathering data...</p>
    </div>
  </div>
  <div class="map-element">
    <app-venues-map [venues]="venues"></app-venues-map>
  </div>
  <div class="photos-element">
    <app-photos [venues]="venues" [columns]="(isHandset$ | async) ? 2 : 4"></app-photos>
  </div>
</div>
