.map-element {
}

.photos-element {
  padding: 16px;
}

.page-heading {
  padding-left: 16px;
  padding-right: 16px;
  display: block;
}

.row {
  width: 100%;
  display: inline-flex;
  justify-content: space-between;
}
