<div class="map-container" *ngIf="apiLoaded | async">
  <google-map height="100%" width="100%" [options]="mapOptions">
    <map-circle [options]="circleOptions"></map-circle>
    <map-marker #marker="mapMarker"
                *ngFor="let venue of markers$"
                [position]="venue.location"
                [options]="markerOptions"
                (mapClick)="openInfoWindow(marker, venue.name)">
    </map-marker>
    <map-info-window>{{ infoWindowContent }}</map-info-window>
  </google-map>
</div>
