<div>
  <mat-grid-list [cols]="columns" gutterSize="16px">
    <mat-grid-tile *ngFor="let venue of venues"
                   class="image-tile"
                   [style.background]="(venue.latestPhoto) ? 'url(' + venue.latestPhoto + ')' : 'url(./assets/burger.jpg'"
                   [style.border]="'1px solid #707070'"
                   [style.background-repeat]="'no-repeat'"
                   [style.background-size]="'cover'">
    </mat-grid-tile>
  </mat-grid-list>
</div>
